<launch>
  <param name="video_path" type="string" value="/home/sun/2022-06-10 00-33-31.mp4" />
  <node pkg= "tensorflow_object_detector" name="video_to_camera" type="video_to_camera.py"  output="screen"> 
  </node>

  <node name="node1" pkg="hw_07" type="node1"/>
    <node pkg="robot_vision" name="face_detector" type="face_detector.py" output="screen">
    <remap from="input_rgb_image" to="/usb_cam/image_raw" />
    <rosparam>
        haar_scaleFactor: 1.2
        haar_minNeighbors: 2
        haar_minSize: 40
        haar_maxSize: 60
    </rosparam>
    <param name="cascade_1" value="$(find robot_vision)/data/haar_detectors/haarcascade_frontalface_alt.xml" />
    <param name="cascade_2" value="$(find robot_vision)/data/haar_detectors/haarcascade_profileface.xml" />
    </node>
</launch>
